# Environment files
.env
.env.*
*.pem
*.key

# Docker
docker-compose.override.yml

# Secrets
**/secrets/*
**/letsencrypt/archive/*
**/letsencrypt/live/*
**/letsencrypt/accounts/*
*.key
*.pem
**/keys.json

# Logs
*.log
**/logs/**

# OS
.DS_Store
Thumbs.db

# Database
*.sqlite
*.sqlite3

# Obsidian
.obsidian/
